<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.patient_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_app"
        android:label="DocMeet"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.Patient_app"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Manage_schedule"
            android:exported="true">

        </activity>
        <activity
            android:name=".doctor_appoinment"
            android:exported="true"></activity>
        <activity
            android:name=".Doctor_dashboard"
            android:exported="true"></activity> <!-- Remove intent filters from other activities -->
        <activity
            android:name=".My_appoinment"
            android:exported="true" />
        <activity
            android:name=".Manage_Appoinment"
            android:exported="true" />
        <activity
            android:name=".book_appoinment"
            android:exported="true" />
        <activity
            android:name=".Manage_Feed_back"
            android:exported="true" />
        <activity
            android:name=".Feed_back"
            android:exported="true" />
        <activity
            android:name=".ManageUsersActivity"
            android:exported="true" />
        <activity
            android:name=".user_dashboard"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".admin_dashboard"
            android:exported="false" />
        <activity
            android:name=".Doctor"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
    </application>

</manifest>